/* PHASE 12: Modal */

.modal{
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.modal-form{
  position: absolute; 
  height: 400px; 
  width: 400px; 
  float:left;
  transform: translateY(-50%); 
  top: 50%;
  z-index: 3; 
  background-color: white;
  border: 1px solid black; 
  border-radius: 10px;
  
}
.modal-screen{
  position: fixed;
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0; 
  z-index: 2; 
  background: rgba(0,0,0,0.8);
  
}

.form{
  
}

.input{
  margin: 10px;
  border: 1px solid gray; 
  padding: 10px; 
  border-radius: 10px; 
}

